<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mr.SUSHANT KHAMKAR</title>

<style>
.button {
	background-color: #008CBA; /* Blue */
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
}

.delete-button {
	background-color: #f44336; /* Red */
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
}

</style>

<script>
    function deleteBook(bookId) {
        if (confirm("Are you sure you want to delete this book?")) {
            fetch(`/book/${bookId}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    alert("Book deleted successfully.");
                    // Reload the page to reflect the changes
                    window.location.reload();
                } else {
                    alert("Error: Book could not be deleted.");
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script>

</head>
<body>

	<h2>Book Store - Application</h2>
	<form th:action="@{/}" th:object="${book}" method="POST">
		<table>
			<tr>
				<td>Book Name</td>
				<td><input type="text" th:field="*{bookName}" /></td>
			</tr>
			<tr>
				<td>Author Name</td>
				<td><input type="text" th:field="*{authorName}" /></td>
			</tr>
			<tr>
				<td>Book Price</td>
				<td><input type="text" th:field="*{bookPrice}" /></td>
			</tr>
			<tr>
				<td>Language</td>
				<td><input type="text" th:field="*{language}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit" class="button" /></td>
			</tr>
		</table>
	</form>

	<hr />

	<!-- Book List Table -->
	<table th:if="${not #lists.isEmpty(books)}" border="1">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Author Name</th>
			<th>Language</th>
			<th>Action</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.bookId}"></td>
			<td th:text="${book.bookName}"></td>
			<td th:text="${book.bookPrice}"></td>
			<td th:text="${book.authorName}"></td>
			<td th:text="${book.language}"></td>
			<td>
				<!-- Delete Button -->
				<button class="delete-button" type="button" th:onclick="'deleteBook(' + ${book.bookId} + ')'">Delete</button>
			</td>
		</tr>
	</table>

	<hr />

	<h1>Mr. Sushant</h1>

	<p>Email: sushantkbemech.com</p>
	<p>
		Visit : <a href="https://github.com/SushanTK03">Github Page</a>
	</p>
	<p>
		<b>Copy Rights @ SushanT</b>
	</p>

</body>
</html>
